@using System.Net.Http
@inject IConfiguration Configuration
@inject IJSRuntime JSRuntime

@page "/users"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>All users</PageTitle>

<h1>All users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td><button class="btn btn-danger" @onclick="() => ConfirmAndDeleteUser(user.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    private HttpClient? HttpClient { get; set; }

    private string? ErrorMessage { get; set; }

    private User[]? users;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    public async Task LoadUsers()
    {
        try
        {
            var functionKey = Configuration["AzureFunctionKeyUsers"];
            var response = await HttpClient!.GetAsync($"https://userprovider-newsilicon-jsb.azurewebsites.net/api/users?code={functionKey}");
            if (response.IsSuccessStatusCode)
            {
                users = await response.Content.ReadFromJsonAsync<User[]>();
            }
            else
            {
                ErrorMessage = "Failed to fetch users. Please try again later.";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "An error occurred while fetching users. " + ex.Message;
        }
    }

    public async Task DeleteUser(string userId)
    {
        try
        {
            var functionKey = Configuration["AzureFunctionKeyDeleteUser"];
            var response = await HttpClient!.DeleteAsync($"https://userprovider-newsilicon-jsb.azurewebsites.net/api/users/{userId}?code={functionKey}");

            if (response.IsSuccessStatusCode)
            {
                await LoadUsers();
            }
            else
            {
                ErrorMessage = "Failed to delete user. Please try again later.";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "An error occurred while deleting the user. " + ex.Message;
        }
    }

    public async Task ConfirmAndDeleteUser(string userId)
    {
        if (await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete user {userId}?"))
        {
            await DeleteUser(userId);
        }
    }

    private class User
    {
        public string Id { get; set; } = null!;
        public string FirstName { get; set; } = null!;
        public string LastName { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string? City { get; set; }
        public string? Phone { get; set; }
    }
}
